<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="../../resource/js/vue.js"></script>
</head>
<body>
<div id="demo">
  <label>
    <input type="text" v-model="searchKey"><br>
    <button type="button" @click="sortRule=2">年龄升序</button>
    <button type="button" @click="sortRule=1">年龄降序</button>
    <button type="button" @click="sortRule=0">原顺序</button>
  </label>
  <br>
  <ul>
    <li v-for="(item,index) in searchList" :key="item.id">
      {{item.id}}--姓名：{{item.name}}--年龄：{{item.age}}
    </li>
  </ul>
</div>
<script>
  const vm = new Vue({
    el: '#demo',
    data: {
      list: [
        {id: 1, name: '张三', age: 18},
        {id: 3, name: '王五', age: 22},
        {id: 2, name: '李四', age: 20},
        {id: 4, name: '小李', age: 21},
      ],
      searchKey: '',
      // searchList: [],
      sortRule: 0,
    },
    methods: {

    },
    computed: {
      searchList () {
        let tmp =  this.list.filter(item => {
          return item.name.indexOf(this.searchKey) > -1
        })
        if (this.sortRule === 2) {
          tmp.sort((a, b) => {
            return a.age - b.age
          })
        }else if (this.sortRule === 1) {
          tmp.sort((a, b) => {
            return b.age - a.age
          })
        }
        return tmp;
      }
    },
    // watch: {
    //   searchKey: {
    //       immediate: true,
    //         handler: function (val) {
    //             this.searchList = this.list.filter(item => {
    //                 return item.name.indexOf(val) > -1
    //             })
    //         }
    //     }
    // }
  })
</script>
</body>
</html>