<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.UserMapper">

    <select id="getAll" resultType="user" >
        select * from MybatisTest.user
    </select>

    <select id="getById" resultType="user" parameterType="int">
        select * from MybatisTest.user where id = #{id}
    </select>

    <insert id="add" parameterType="user">
        insert into MybatisTest.user values (null ,#{name},#{pass})
    </insert>

    <update id="update" parameterType="user">
        update MybatisTest.user set pass=#{pass} where id=#{id}
    </update>

    <delete id="delete" parameterType="int">
        delete from MybatisTest.user where id=#{id}
    </delete>
</mapper>