<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../resource/js/vue.js"></script>
</head>
<body>
<div id="demo">
  姓：<input type="text" v-model="firstName"><br>
  名：<input type="text" v-model="lastName"><br>
  全名：<input type="text" v-model="fullName"><br>
</div>
<script>
  const vm = new Vue({
    el: '#demo',
    data:{
      firstName: ' ',
      lastName: ' ',
      fullName: ''
    },
    watch: {
      firstName: function(val){
        this.fullName = val + ' ' + this.lastName;
      },
      lastName: function(val){
        this.fullName = this.firstName + ' ' + val;
      },
      fullName: function(val){
        var arr = val.split(' ');
        this.firstName = arr[0];
        this.lastName = arr[1];
      }
    }
  })
</script>
</body>
</html>