<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student" class="com.test.entity.Student">
        <!--普通值注入-->
        <property name="name" value="张三"/>
        <!--Bean注入-->
        <property name="address" ref="address"/>
        <!--数组注入-->
        <property name="books">
            <array>
                <value>《三国演义》</value>
                <value>《西游记》</value>
                <value>《水浒传》</value>
                <value>《红楼梦》</value>
            </array>
        </property>
        <!--List注入-->
        <property name="hobbies">
            <list>
                <value>唱</value>
                <value>跳</value>
                <value>rap</value>
                <value>篮球</value>
            </list>
        </property>
        <!--Map注入-->
        <property name="gf">
            <map>
                <entry key="1" value="GF1号"/>
                <entry key="2" value="GF2号"/>
                <entry key="3" value="GF3号"/>
            </map>
        </property>
        <!--Set注入-->
        <property name="keys">
            <set>
                <value>1</value>
                <value>2</value>
                <value>3</value>
            </set>
        </property>
        <!--Properties注入-->
        <property name="info">
            <props>
                <prop key="driver">xxx.xxx.xxx</prop>
                <prop key="url">xx.xxx.xx.com</prop>
                <prop key="user">root</prop>
                <prop key="pass">....</prop>
            </props>
        </property>
        <!--空指针注入-->
        <property name="wife">
            <null />
        </property>
    </bean>
    <bean id="address" class="com.test.entity.Address">
        <property name="address" value="成都"/>
    </bean>

</beans>